<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Conceptos Basicos - Regresión Logistica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target="#sidebarMenu" data-bs-offset="80" tabindex="0">

   <nav class="navbar navbar-expand-lg bg-white sticky-top shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="#">
                <i class="bi bi-layers-fill text-danger"></i>
                Machine Learning
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Alternar navegación">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center gap-lg-2">
                    <li class="nav-item"><a class="nav-link active" href="index"><i class="bi bi-house-door-fill me-2"></i>Home</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Casos de Uso</a>
                        <ul class="dropdown-menu shadow">
                            <li><a class="dropdown-item" href="caso1"><i class="bi bi-speedometer2 me-2"></i>PayPal - Detección de fraude en pagos</a></li>
                            <li><a class="dropdown-item" href="caso2"><i class="bi bi-graph-up me-2"></i>Amazon – Sistemas de Recomendación Personalizados</a></li>
                            <li><a class="dropdown-item" href="caso3"><i class="bi bi-diagram-3 me-2"></i>Netflix: Sistemas de Recomendación Personalizados</a></li>
                            <li><a class="dropdown-item" href="caso4"><i class="bi bi-database me-2"></i> Uber: Optimización de Rutas y Transporte</a></li>
                        </ul>
                    </li>

                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Regresion Lineal</a>
                        <ul class="dropdown-menu shadow">
                            <li><a class="dropdown-item" href="conceptoLineal"><i class="bi bi-speedometer2 me-2"></i> Conceptos básicos</a></li>
                            <li><a class="dropdown-item" href="praticoLineal"><i class="bi bi-graph-up me-2"></i>Ejercicio práctico</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Regresion Logistica</a>
                        <ul class="dropdown-menu shadow">
                            <li><a class="dropdown-item" href="conceptoLogistica"><i class="bi bi-speedometer2 me-2"></i> Conceptos básicos</a></li>
                            <li><a class="dropdown-item" href="praticoLogistica"><i class="bi bi-graph-up me-2"></i>Ejercicio práctico</a></li>
                        </ul>
                    </li>

                    <li class="nav-item ms-lg-2">
                    <a href="https://github.com/emily-180/RepoTareasML" class="btn btn-dark px-4">
                        <i class="bi bi-github me-1"></i>GitHub
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="#intro">Introducción</a></li>
                        <li class="nav-item"><a class="nav-link" href="#regresion">MModelo para variable objetivo binaria y la probabilidad mediante sigmoide/logita</a></li>
                        <li class="nav-item"><a class="nav-link" href="#dessallo">DESARROLLO DE EJERCICIO PRÁCTICO</a></li>
                        <li class="nav-item"><a class="nav-link" href="#conclusiones">Conclusiones</a></li>
                        <li class="nav-item"><a class="nav-link" href="#referencias">Referencias</a></li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">

                <section id="intro" class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>Introducción</h2>
                            <p>La regresión logística es un método estadístico y de aprendizaje automático utilizado para predecir resultados que solo pueden pertenecer a dos categorías, como “sí/no” o “0/1”. A diferencia de la regresión lineal, que estima valores continuos, este modelo está diseñado para problemas de clasificación binaria (GeeksforGeeks, s.f.).
En el ámbito del machine learning, la regresión logística se aplica cuando el objetivo es estimar la probabilidad de que una observación pertenezca a una clase determinada. Este algoritmo ajusta una función que permite separar los datos en dos grupos y es ampliamente utilizado en áreas como medicina, finanzas y análisis de comportamiento de usuarios (IBM, s.f.).

                            </p>
                        </div>
                    </div>
                </section>

                <section id="regresion" class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>Modelo para variable objetivo binaria y la probabilidad mediante sigmoide/logit</h2>
                            <p>El modelo se fundamenta en la idea de una variable objetivo binaria, en la cual el resultado esperado solo puede asumir dos valores mutuamente excluyentes, como “empleado/desempleado” o “aprobado/reprobado”. Para poder representar esta relación de manera matemática, el modelo transforma la combinación lineal de los predictores en una probabilidad dentro del rango [0,1]. Esto se logra mediante la función sigmoide o logística, que convierte cualquier valor real en una salida interpretable como probabilidad. De esta forma, no solo se clasifica en dos categorías, sino que también se obtiene una medida de confianza asociada a la predicción.
                            El logit, por su parte, se define como el logaritmo de la razón de probabilidades (odds), es decir, la relación entre la probabilidad de que ocurra un evento frente a la probabilidad de que no ocurra. Esta transformación linealiza la relación entre las variables independientes y la variable dependiente, permitiendo que el modelo pueda ser estimado mediante métodos estadísticos tradicionales como la máxima verosimilitud. En otras palabras, el logit sirve como un puente matemático que conecta los predictores con la probabilidad de un resultado binario, facilitando tanto el ajuste del modelo como la interpretación de sus coeficientes (Medium, 2019).

                            </p>
                        </div>
                    </div>
                </section>

                <section id="dessallo" class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>DESARROLLO DE EJERCICIO PRÁCTICO</h2>
                            <p>ste trabajo utiliza regresión logística para predecir la probabilidad de que una persona se encuentre desempleada o empleada, a partir de ciertas características individuales.
                            El tema central es la predicción de desempleo en función de variables que pueden influir en la situación laboral, como:
                            <br>* Nivel educativo<br>
                            <br>* Años de experiencia<br>
                            <br>* Conocimientos técnicos <br>
                            <br>* Edad<br>
                            La regresión logística es un método de aprendizaje supervisado que permite clasificar resultados en dos categorías: en este caso, Sí (Desempleado) o No (Empleado). A diferencia de la regresión lineal, que predice valores numéricos continuos, la regresión logística trabaja con probabilidades y transforma los valores mediante la función sigmoide (logit), que entrega un resultado entre 0 y 1.
                            En este modelo, cuando la probabilidad de desempleo supera un umbral definido (por ejemplo, 0.5), la persona se clasifica como “Desempleado”. De lo contrario, se clasifica como “Empleado”.
                            Además, el sistema genera métricas de evaluación como la precisión, matriz de confusión y reporte de clasificación, lo que permite medir qué tan bien funciona el modelo con los datos de prueba.
                            </p>
                        </div>
                    </div>
                </section>

                <section id="conclusiones" class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>Conclusiones</h2>
                            <p>La aplicación de regresión logística en este contexto permite comprender cómo ciertas variables influyen en la situación laboral. La elección del umbral de clasificación es clave, ya que valores más altos o bajos pueden generar cambios en la proporción de desempleados detectados. También es importante considerar el posible desbalance en los datos (por ejemplo, más casos de empleados que de desempleados), lo que puede afectar la calidad de las predicciones.
                        Como mejoras futuras, se podrían aplicar técnicas de balanceo de clases, ajustar dinámicamente el umbral, o incluso probar modelos más complejos como árboles de decisión o redes neuronales. De esta forma, se lograría un sistema más robusto y preciso para apoyar la toma de decisiones en problemas relacionados con el desempleo.
</p>
                        </div>
                    </div>
                </section>

                <section id="referencias" class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>Referencias</h2>
                            <ul>
                                <li>
                                    GeeksforGeeks. (s.f.). Understanding Logistic Regression. Recuperado el 17 de septiembre de 2025, de 
                                    <a href="https://www.geeksforgeeks.org/machine-learning/understanding-logistic-regression" target="_blank">
                                        https://www.geeksforgeeks.org/machine-learning/understanding-logistic-regression
                                    </a>
                                </li>
                                <li>
                                    IBM. (s.f.). What is Logistic Regression?. Recuperado el 17 de septiembre de 2025, de 
                                    <a href="https://www.ibm.com/think/topics/logistic-regression" target="_blank">
                                        https://www.ibm.com/think/topics/logistic-regression
                                    </a>
                                </li>
                                <li>
                                    Medium. (2019). Logistic Regression: A Detailed Explanation. Recuperado el 17 de septiembre de 2025, de 
                                    <a href="https://medium.com/@anupchakole/logistic-regression-a-detailed-explanation-8508132d3a5a" target="_blank">
                                        https://medium.com/@anupchakole/logistic-regression-a-detailed-explanation-8508132d3a5a
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </section>

            </main>
        </div>
    </div>

    <footer class="text-center py-4 bg-light mt-5">
        <small class="text-muted">
            Proyecto académico • Universidad de Cundinamarca • 2025
        </small>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>